.__view:hover,
.__active {
  color: rgba(48, 61, 73, 0.5) !important;
}
.checkbox-2x {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.filter-input,
.filter-select,
.search-input {
  border-radius: 0.25rem;
}
.search-input {
  padding: 0 0.32rem;
}
.fa-search {
  padding: 0.15rem;
  border-radius: 50%;
  position: relative;
  left: -1.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.fa-search:hover,
.fa-pen {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgb(127, 120, 190);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: rgb(127, 120, 190);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.review__style p {
  margin-bottom: inherit;
}

.review__style img {
  width: 30% !important;
  height: 30% !important;
}

/* 
  __Pagination
*/

.page-item.active .page-link {
  background: #1d2124 !important;
}
.page-item.disabled .page-link {
  color: #fff !important;
  background: #6c757d !important;
}

/* 
  * Animation Stuff
*/

.slide-left {
  position: relative;
  left: 5000px;
  animation-name: slide-left;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes slide-left {
  0% {
    left: 2000px;
  }
  100% {
    left: 0;
  }
}

.slide-right {
  position: relative;
  right: 0;
  animation-name: slide-right;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes slide-right {
  0% {
    right: 0;
  }
  100% {
    right: -2000px;
  }
}
.slide-down {
  position: relative;
  top: 0;
  animation-name: slide-down;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes slide-down {
  0% {
    top: -2000px;
  }
  100% {
    top: 0;
  }
}
